* {  
    box-sizing: border-box; 
    margin: 0; 
    padding: 0;
}

body {
    background-color: #D7CEC7;
    background-size: 100%; 
    color: #565656;
    height: 100vh; 
    font-size: 18px;
}


@media (min-width: 300px) {
    body, header {
        font-size: 10px;
    }
}

@media (min-width: 400px) { 
    body, header {
        font-size: 12px;
    }
}

@media (min-width: 600px) {
    body, header {
        font-size: 18px;
    }
}

@media (min-width: 1200px) {
    body, header {
        font-size: 22px;
    }
}

header {
    align-items: center;
    display: flex;
    height: 100vh; 
    justify-content: center;      
}

.menu {
    background-color: #76323f;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    padding: 5px;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1;
}

.menu ul { 
    display: flex; 
    justify-content: space-around;
}

.menu li { 
    list-style: none; 
}

.menu a {
    color: #D7CEC7;
    display: block; 
    padding: 5px 10px;     
}

.menu a:active,
.menu a:hover {  
      text-shadow: 1px 1px 15px #D7CEC7;
    
}
 
a {
    color:#c09f80;
    text-decoration: none; 
}

a:hover {
    text-decoration: underline;
}



h1 {
    color: #76323f;
    display:block;
    font-family: 'Great Vibes', cursive;
    font-size: 3em;
    text-align: center;
}


h2 {
    font-family: 'Inconsolata', monospace;
}

.typing-animation {
    border-right: 3px solid #565656;
    color: #565656;
    overflow: hidden;
    white-space: nowrap;
}

@keyframes typing{
    from {
        width: 0;
    }
    to {
        width: 21em;
    }
}
.typing-animation {
    animation: blinkCursor 800ms steps(40) infinite normal, typing 3s steps(40) 1s normal both;
}
@keyframes blinkCursor {
    from {
        border-right-color: #76323f;
    }
    to {
        border-right-color: transparent;
    }
}

.sobre,
.contato,
.estudos {
    padding: 5em 2em 2em 2em;    
    margin-left: auto;
    margin-right: auto;
}  

.sobre h2,
.contato h2,
.estudos h2 {
    color: #76323f;
    font-family: 'Open Sans Condensed', sans-serif;
    margin-bottom: 1em; 
} 

figure {
    display: block;
}

.sobre .sobre-img img {
    border-radius: 50%;
}

.sobre .sobre-img {
    float: right; 
    margin-left: 1em;   
}

.sobre img {
    text-align: center;
    margin: 1em 0 10em auto;  
}

h3{
    font-family: 'Roboto', sans-serif;
}

.sobre p { 
    color:#565656;
    font-family: 'Roboto', sans-serif;
    font-size: em;
    margin-bottom: 1.2em; 
    text-align: justify; 
    text-indent: 2em;    
}

.sobre a {
    color: #c09f80; 
    text-shadow: 1s;
}

.sobre a:active,
.sobre a:hover {
    color: #76323f;
    text-shadow: 5px 5px 5px #76323f; 
}

.estudos .grid { 
    align-content: center;
    display: grid; 
    gap: 5em; 
    justify-content: center;
}

@media (min-width: 560px) {
    .estudos .grid {
        grid-template-columns: 200px 200px;
    }
}

.estudos figure { 
    text-align: center; 
}

.estudos-title {
   
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.estudos-subtitle {
    color: #c09f80;
    font-family: 'Roboto', sans-serif;
}


.img-estudos {
    border-radius: 50%;
    width: 200px;
    height: 200px;  
    object-fit: cover; 
    transition: transform 100ms; 
}

.flip-card {
    perspective: 1000px;
    height: 200px;
    width: 200px;
}

.card { 
    position: relative;
    transform-style: preserve-3d;
    transition: transform 2s;
}

.flip-card:hover .card {
    transform: rotateY(180deg);
}

.card-front,
.card-back {
    backface-visibility: hidden;
    position: absolute; 
    top:0;
    left:0;
}

.card-back {
    align-items: center;
    background-color: #565656;
    border-radius: 50%;
    color: #D7CEC7;
    display: flex;
    font-family: 'Roboto', sans-serif;
    justify-content: center;
    height: 200px;
    text-align: center;
    transform: rotateY(180deg);
    width: 100%;
}

.contato p {
    font-family: 'Roboto', sans-serif;
}

.contato a {
    color: #c09f80;
    font-size: 4em;
    text-shadow: 1s;
}

.contato a:active, 
.contato a:hover {
    text-decoration: none;
    text-shadow: 5px 5px 5px #76323f; /*Sombra*/
}

.contato .icons {
    margin-top: 30px;
    text-align: center;
}


@media (min-width: 1200px) {
    .container { /*classe funcional que pode ser utilizada por todos os elementos*/
        max-width: 1200px;
    }
}

footer {
    background-color:#565656;
    color:#D7CEC7;
    font-family: 'Roboto', sans-serif;
    font-size: 80%;
    text-align: center;
    padding: 1rem;
    margin-top: 5rem;    
}